/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
header {
	float: left;
	width: 100%;
	border-bottom: solid rgb(95, 95, 95) 1px;
}

header > nav {
	margin: 0 auto;
	width: 90%;
	padding: 0 0;
}

header > nav > * {
	float: left;
	width: 20%;
}

header > nav > a {
	font-size: 1.3em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0;
	padding: 25px 0;
	width: 10%;
}

header > nav > form {
	padding: 20px 0;
	margin: 0;
}

header > nav > form > input {
	display: block;
	height: 40px;
	background: rgb(243, 242, 242);
	border: none;
	padding: 0;
	margin: 0;
	padding-left: 10px;
	border-radius: 5px;
}

header > nav > form > input:focus {
	border: solid 2px grey;
	outline: none;
}

header > nav > img {
	width: 40%;
	padding: 25px 13%;
}

header > nav > ul {
	width: 30;
	list-style: none;
	padding: 0;
	margin: 0;
}

header > nav > ul > * {
	float: left;
	width: 33%;
}

header > nav > ul > li > a {
	display: block;
	font-size: 1.2em;
	text-decoration: none;
	padding: 25px 0;
}

section {
	padding-top: 30px;
}

section > section {
	float: left;
	width: 50%;
	text-align: right;
}

section > section > img {
	margin-right: 20px;
}

section > section + section {
	text-align: left;
}

section > section + section > h1 {
	width: 70%;
	font-size: 4em;
}

section > section + section > p {
	width: 70%;
	font-size: 1.5em;
	margin-bottom: 40px;
}

section > section + section > ul {
	list-style: none;
	width: 70%;
	margin-top: 10px;
	padding-left: 0;
}

section > section + section > ul > li {
	float: left;
	margin-right: 10px;
}

section > section + section > ul > li > a {
	background: rgb(95, 95, 255);
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
